{% extends 'base.html' %}
{% block page_content %}
{% load static%}

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="sidebar-brand-text mx-3"><code><p style="font-family:monospace; font-style: initial; font-variant-ligatures: historical-ligatures; color:#FECD70;">Categorize.</p></code></div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item">
                            <a href="{% url 'home' %}" class='sidebar-link'>
                                <i class="fas fa-fw fa-home"></i>
                                <!-- <i class="bi bi-grid-fill"></i> -->
                                <span>Beranda</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'training' %}" class='sidebar-link'>
                                <i class="fas fa-fw fa-spinner"></i>
                                <span>Training</span></a>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="{% url 'testing' %}" class='sidebar-link'>
                                <i class="fab fa-fw fa-cloudsmith"></i>
                                <span>Testing</span></a>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <!-- <h3>DataTable</h3>
                            <p class="text-subtitle text-muted">For user to check they list</p> -->
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <!-- <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                                </ol> -->
                            </nav>
                        </div>
                    </div>
                </div>
                <section id="about">
                    <br></br>
                  
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 mx-auto" style="text-align:center;">
                          <div class="card">
                              <br><br>
                              <form  method="POST" enctype = "multipart/form-data">
                                  {% csrf_token %}
                                      <input type = "file" name = "file" />
                                      <input type = "submit" class="btn btn-secondary btn-sm" value= "Proses"/>
                                  </form>
                                  <br><br>
                          </div>
                          <br></br>
                          {% if not result %}
                          <div class="col-md-12"> Upload data Anda</div>
                          {% else %}
                             <div class="panel panel-primary result">
                              <div class="panel-heading">
                                  <i class="fa fa-table"></i> Data Testing
                              </div>
                              <!-- /.panel-heading -->
                              <div class="card">
                                  <div class="panel-body">
                                      <div class="card-body">
                                          <div class="table-responsive">

                                              <table class="table table-bordered" id="table1" width="70%" cellspacing="0">
                                                  <thead>
                                                      <tr>
                                                          <th>Tanggal</th>
                                                          <th>Lokasi</th>
                                                          <th>PM10</th>
                                                          <th>SO2</th>
                                                          <th>CO</th>
                                                          <th>O3</th>
                                                          <th>NO2</th>
                                                          <th>Kategori manual</th>
                                                          <th>Kategori elm</th>
                                                      </tr>
                                                  </thead>
                                                  <!-- <tbody>

                                                      {{result}}
                                                  </tbody> -->
                                                  <tbody>
                                                    {% for row in result%}
                                                    <tr>
                                                        <td>{{row.0}}</td>
                                                        <td>{{row.6}}</td>
                                                        <td>{{row.1}}</td>
                                                        <td>{{row.2}}</td>
                                                        <td>{{row.3}}</td>
                                                        <td>{{row.4}}</td>
                                                        <td>{{row.5}}</td>
                                                            
                                                            {% if row.8 == 0 %}
                                                            <td>Baik</td>
                                                            {% elif row.8 == 1 %}
                                                            <td>Sedang</td>
                                                            {% elif row.8 == 2 %}
                                                            <td>Tidak Sehat</td>
                                                            {% elif row.8 == 3 %}
                                                            <td>Sangat Tidak Sehat</td>
                                                            {% else %}
                                                            <td>Bahaya</td>
                                                            {% endif %}

                                                            {% if row.9 == 0 %}
                                                            <td>Baik</td>
                                                            {% elif row.9 == 1 %}
                                                            <td>Sedang</td>
                                                            {% elif row.9 == 2 %}
                                                            <td>Tidak Sehat</td>
                                                            {% elif row.9 == 3 %}
                                                            <td>Sangat Tidak Sehat</td>
                                                            {% else %}
                                                            <td>Bahaya</td>
                                                            {% endif %}
                                                            
                                                            
                                                           
                                                        </tr>
                                                        {% endfor %}


                                                  </tbody>
                                                  </table>

                                                  <br><br>
                                    <div class="card card-description"> <br><b>CONFUSION MATRIX</b><br>
                                        <div class="row">
                                            <div class="col-md-2">

                                                <table class="table" width="100%" cellspacing="0"
                                                    style="margin-left:12px">
                                                    <thead>
                                                        <tr>
                                                            <th style="color:white;"> Index </th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                        <td>
                                                            <p style="margin-bottom: 2px;">Precision</p> <br><br>
                                                            <p style="margin-bottom: 2px;">Recall</p><br><br>
                                                            <p style="margin-bottom: 2px;">F1-Score</p><br><br>
                                                            Support<br>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" width="100%" cellspacing="0"
                                                        style="margin-left:12px">
                                                        <thead>
                                                            <tr>
                                                                <th>STS</th>
                                                                <th>TS</th>
                                                                <th>Sedang</th>
                                                                <th>Baik</th>
                                                                <th>Accuracy</th>
                                                                <th>Macro Avg</th>
                                                                <th>Weighted Avg</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for row in result_cm%}
                                                            <tr>
                                                                <td>{{row.0}}<br><br></td>
                                                                <td>{{row.1}}</td>
                                                                <td>{{row.2}}</td>
                                                                <td>{{row.3}}</td>
                                                                <td>{{row.4}}</td>
                                                                <td>{{row.5}}</td>
                                                                <td>{{row.6}}</td>

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br><br>
                                    <div class="card">
                                        <br>
                                        <div class="row">
                                            <div class="card"><br>
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-6">
                                                        <img src="data:image/png;base64,{{response}}" height="450"
                                                            width="500">
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>

                                                 </div>
                                          </div>
                                    
                                  </div>
                              </div>
                              <!-- /.panel-body -->
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
              
                    <br></br>
                  </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Khairunnisa Sitanggang</p>
                    </div>
                    <!-- <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">Khairunnisa Sitanggang</a></p>
                    </div> -->
                </div>
            </footer>
        </div>
    </div>
</body>
{% endblock %}