{% extends 'base.html' %}
{% block page_content %}
{% load static%}

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                 <!-- <div class="sidebar-header"> -->
                    <div class="d-flex justify-content-between">
                        <div class="sidebar-brand-text mx-3">
                            <img src="{% static 'images/logo-usu.png'%}" width="200px" height="200px" alt="image">
                            <!-- <code><p style="font-family:monospace; font-style: initial; font-variant-ligatures: historical-ligatures; color:#FECD70;">Categorize.</p></code> -->
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                <!-- </div> -->
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item">
                            <a href="{% url 'home' %}" class='sidebar-link'>
                                <i class="fas fa-fw fa-home"></i>
                                <!-- <i class="bi bi-grid-fill"></i> -->
                                <span>Beranda</span>
                            </a>
                        </li>


                        <li class="sidebar-item  active">
                            <a href="{% url 'training' %}" class='sidebar-link'>
                                <i class="fas fa-fw fa-spinner"></i>
                                <span>Training</span></a>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="{% url 'testing' %}" class='sidebar-link'>
                                <i class="fab fa-fw fa-cloudsmith"></i>
                                <span>Testing</span></a>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <!-- <h3>DataTable</h3>
                            <p class="text-subtitle text-muted">For user to check they list</p> -->
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <!-- <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                                </ol> -->
                            </nav>
                        </div>
                    </div>
                </div>
                <section id="about">
                    <br></br>
                  
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 mx-auto" style="text-align:center;">
                          <div class="card">
                              <br><br>
                              <form  method="POST" enctype = "multipart/form-data">
                                  {% csrf_token %}
                                      <input type = "file" name = "file" />
                                      <input type = "submit" class="btn btn-secondary btn-sm" value= "Proses"/>
                                  </form>
                                  <br><br>
                          </div>
                          <br></br>
                          {% if not result %}
                          <div class="col-md-12">Upload data Anda</div>
                          {% else %}
                          <div class="panel panel-primary">
                              <div class="panel-heading">
                                  <i class="fa fa-table"></i> Data Training
                              </div>
                              <!-- /.panel-heading -->
                              <div class="card">
                                  <div class="panel-body">
                                      <div class="card-body">
                                          <div class="table-responsive">
                                              <table class="table table-bordered" id="table1" width="100%" cellspacing="0">
                                                  <thead>
                                                      <tr>
                                                          <th>Tanggal</th>
                                                          <th>Lokasi</th>
                                                          <th>PM10</th>
                                                          <th>SO2</th>
                                                          <th>CO</th>
                                                          <th>O3</th>
                                                          <th>NO2</th>
                                                          <th>Kategori</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for row in result%}
                                                      <tr>
                                                        <td>{{row.0}}</td>
                                                        <td>{{row.6}}</td>
                                                        <td>{{row.1}}</td>
                                                        <td>{{row.2}}</td>
                                                        <td>{{row.3}}</td>
                                                        <td>{{row.4}}</td>
                                                        <td>{{row.5}}</td>
                                                        <!-- {% if row.6 == 0 %}
                                                            <td>DKI1</td>
                                                            {% elif row.6 == 1 %}
                                                            <td>DKI2</td>
                                                            {% elif row.6 == 2 %}
                                                            <td>DKI3</td>
                                                            {% elif row.6 == 3 %}
                                                            <td>DKI4</td>
                                                            {% else %}
                                                            <td>DKI5</td>
                                                            {% endif %} -->
                                                            {% if row.7 == 0 %}
                                                            <td>Baik</td>
                                                            {% elif row.7 == 1 %}
                                                            <td>Sedang</td>
                                                            {% elif row.7 == 2 %}
                                                            <td>Tidak Sehat</td>
                                                            {% elif row.7 == 3 %}
                                                            <td>Sangat Tidak Sehat</td>
                                                            {% else %}
                                                            <td>Bahaya</td>
                                                            {% endif %}
                                                    </tr>
                                                      {% endfor %}
                                                  </tbody>
                                                  </table>
                                          </div>
                                          </div>
                                      
                                     
                                      <!-- /.table-responsive -->
                                  </div>
                              </div>
                              <!-- /.panel-body -->
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
              
                    <br></br>
                  </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Khairunnisa Sitanggang</p>
                    </div>
                    <!-- <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">Khairunnisa Sitanggang</a></p>
                    </div> -->
                </div>
            </footer>
        </div>
    </div>
</body>
{% endblock %}